---
eleventyComputed:
    title: "{{ podcastData.channel.title }}"
    summary: "{{ podcastData.channel.description }}"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
    </head>
    <body>  
        <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>

        {{ content | safe }}
    </body>
</html>