---
eleventyComputed:
    title: "{{ podcastData.channel.title }}"
    summary: "{{ podcastData.channel.description }}"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Big+Shoulders+Inline+Text:wght@500&family=Satisfy&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
    </head>
    <body>  
        <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>

        {% include 'menu.njk' %}
        {{ content | safe }}
    </body>
</html>