<div class="menu">
    <em>{{title}}</em>
    <a href="{{ '/' | url }}" class="menu-link">Home</a>
    <a href="{{ '/episodes' | url }}" class="menu-link">Episodes</a>
    <a href="{{ '/subscribe' | url }}" class="menu-link">Subscribe</a>
</div>