<div class="menu">
    <a href="{{ '/' | url }}" class="logo-txt">{{title}}</a>

    <div class="menu-links">
        <a href="{{ '/episodes' | url }}" class="menu-link">Episodes</a>
        <a href="{{ '/subscribe' | url }}" class="menu-link">Subscribe</a>
        <a href="{{ '/contact' | url }}" class="menu-link">Contact</a>
    </div>
</div>