:root {
    /* colors */
    --primary-clr: #427FBC;
    --font-clr-body-light: #FFFFFF;

    /* fonts */
    --font-header: 'Big Shoulders Inline Text', cursive;
    --font-logo: 'Satisfy', cursive; 
    --font-body: 'Archivo', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-body);
}

h1,h2,h3,h4 {
    font-family: var(--font-header);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-clr);
    padding: 10px 15px;
}

.menu-link {
    color: var(--font-clr-body-light);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-header);
    padding: 0px 7px;
}

.logo-txt {
    font-size: 2rem;
    color: var(--font-clr-body-light);
    font-family: var(--font-logo);
    text-decoration: none;
}

.subscription-options {
    display: flex;
}

.subscription-icon {
    width: 80px;
}

.hidden {
    display: none;
}

.contact-fb-logo {
    width: 30px;
}