:root {
    /* colors */
    --primary-clr: #427FBC;
    --font-clr-body-light: #FFFFFF;
    --font-clr-body-dark: #1C1C1C;

    /* fonts */
    --font-header: 'Oswald', sans-serif;
    --font-logo: 'Satisfy', cursive; 
    --font-body: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--font-clr-body-dark);
    font-family: var(--font-body);
    font-size: 20px;
}

h1,h2,h3,h4 {
    font-family: var(--font-header);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-clr);
    padding: 10px 15px;
}

.menu-link {
    color: var(--font-clr-body-light);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-header);
    padding: 0px 7px;
}

.logo-txt {
    font-size: 2rem;
    color: var(--font-clr-body-light);
    font-family: var(--font-logo);
    text-decoration: none;
}

.podcast-latest-container {
    /* player styles */
    --plyr-color-main: var(--font-clr-body-light);
    --plyr-audio-control-color: var(--font-clr-body-light);
    --plyr-audio-control-color-hover: var(--primary-clr);
    --plyr-audio-controls-background: var(--primary-clr);

    display: flex;
    color: var(--font-clr-body-light);
    padding: 15px 40px;
    background-color: var(--primary-clr);
}

.podcast-latest-container h1 {
    text-align: center;
    font-family: var(--font-logo);
}

.podcast-latest-container h2 {
    text-align: center;
    font-family: var(--font-header);
}

.episode-metadata {
    display: flex;
    justify-content: center;
}

.episode-metadata-divider {
    padding: 0px 10px;
}

.episode-duration {
    font-style: italic;
}

.latest-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-txt {
    max-width: 600px;
}

.description-txt p {
    margin: 2px;
}

.description-txt a {
    color: var(--primary-clr);
    font-family: var(--font-header);
}

/* episodes list */

.episodes-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcast-card {
    display: flex;
    margin-bottom: 15px;
}

.podcast-card-date {
    margin: 0px 30px 5px 0px;
    padding: 5px 10px;
    text-align: center;
}

.podcast-card-date .month,.year {
    font-size: 1.2rem;
    font-style: italic;
}

.podcast-card-date .day {
    font-size: 2rem;
    font-family: var(--font-header);
}

.podcast-card-metadata {
    display: flex;
    flex-direction: column;
}

.podcast-card-metadata-title {
    font-size: 1.3rem;
    color: var(--primary-clr);
    font-family: var(--font-header);
    text-decoration: none;
}

.podcast-card-metadata-summary {
    max-width: 600px;
}

.subscription-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription-service {
    padding: 5px 15px;
    text-align: center;
}

.subscription-label {
    font-family: var(--font-header);
}

.subscription-options {
    display: flex;
}

.subscription-icon {
    width: 80px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    font-size: 1.4rem;
}

.contact-form input, textarea {
    font-size: 1.3rem;
}

.btn {
    background-color: var(--primary-clr);
    color: var(--font-clr-body-light);
    font-size: 1.1rem;
    padding: 5px;
    border: 1px solid var(--font-clr-body-dark);
}

.hidden {
    display: none;
}

.contact-fb-logo {
    width: 30px;
}