:root {
    --font-header: 'Big Shoulders Inline Text', cursive;
    --font-logo: 'Satisfy', cursive; 
    --font-body: 'Archivo', sans-serif;
}

body {
    font-family: var(--font-body);
}

h1,h2,h3,h4 {
    font-family: var(--font-header);
}

.menu {
    display: flex;
}

.subscription-options {
    display: flex;
}

.subscription-icon {
    width: 80px;
}

.hidden {
    display: none;
}

.contact-fb-logo {
    width: 30px;
}