---
layout: base.njk
---

<div class="episodes-list-container">
    <h1>Episode List</h1>
    
    <div class="episodes-list">
    {%- for episode in podcastData.channel.item -%}
        <div class="podcast-card">
            <div class="podcast-card-date">
                <div class="month">Nov</div>
                <div class="day">8</div>
                <div class="year">2020</div>
            </div>
            <div class="podcast-card-metadata">
                <a class="podcast-card-metadata-title" href=" {{ '/episode/' + episode['itunes:episode'] | url}} ">{{ episode.title }}</a>
                <div class="episode-duration">Duration: {{ episode['itunes:duration'] }}</div>
                <p class="podcast-card-metadata-summary">{{episode['itunes:subtitle']}}</p>
            </div>
        </div>
    {%- endfor -%}
    </div>
</div>