---
layout: base.njk
---

<h1>Subscribe</h1>

<div class="subscription-options">
    <div class="subscription-service">
        <a href=""><img class="subscription-icon" src="{{ '/images/podbean-badge.png' | url }}" alt="Podbean Podcast Logo" ></a>
    </div>
    <div class="subscription-service">
        <a href=""><img class="subscription-icon" src="{{ '/images/apple-podcast-logo.png' | url }}" alt="Apple Podcast Logo" ></a>
    </div>
    <div class="subscription-service">
        <a href=""><img class="subscription-icon" src="{{ '/images/spotify-podcast-logo.png' | url }}" alt="Spotify Podcast Logo" ></a>
    </div>
    <div class="subscription-service">
        <a href=""><img class="subscription-icon" src="{{ '/images/google-podcast-logo.png' | url }}" alt="Google Podcast Logo" ></a>
    </div>
</div>