---
layout: base.njk
---

<div class="subscription-container">
    <h1>Subscribe</h1>
    <p>Be sure to subscribe! You can find us on all of the following Podcast services.</p>
    <div class="subscription-options">
        <div class="subscription-service">
            <a target="_blank" href="https://PennyDog.podbean.com"><img class="subscription-icon" src="{{ '/images/podbean-podcast-logo.png' | url }}" alt="Podbean Podcast Logo" ></a>
            <p class="subscription-label">Podbean</p>
        </div>
        <div class="subscription-service">
            <a target="_blank" href="https://podcasts.apple.com"><img class="subscription-icon" src="{{ '/images/apple-podcast-logo.png' | url }}" alt="Apple Podcast Logo" ></a>
            <p class="subscription-label">Apple</p>
        </div>
        <div class="subscription-service">
            <a target="_blank" href="https://open.spotify.com/show/10LthB9GrclZMVkp6zW3K8?si=UfTbSFHcSVKRtkU68JdTyA"><img class="subscription-icon" src="{{ '/images/spotify-podcast-logo.png' | url }}" alt="Spotify Podcast Logo" ></a>
            <p class="subscription-label">Spotify</p>
        </div>
        <div class="subscription-service">
            <a target="_blank" href="https://podcasts.google.com"><img class="subscription-icon" src="{{ '/images/google-podcast-logo.png' | url }}" alt="Google Podcast Logo" ></a>
            <p class="subscription-label">Google</p>
        </div>
    </div>
</div>