---
layout: base.njk
---

<h1>Subscribe</h1>

<div class="subscription-options">
    <div class="subscription-service">
        <a target="_blank" href="https://PennyDog.podbean.com"><img class="subscription-icon" src="{{ '/images/podbean-podcast-logo.png' | url }}" alt="Podbean Podcast Logo" ></a>
    </div>
    <div class="subscription-service">
        <a target="_blank" href="https://podcasts.apple.com"><img class="subscription-icon" src="{{ '/images/apple-podcast-logo.png' | url }}" alt="Apple Podcast Logo" ></a>
    </div>
    <div class="subscription-service">
        <a target="_blank" href="https://open.spotify.com/show/10LthB9GrclZMVkp6zW3K8?si=UfTbSFHcSVKRtkU68JdTyA"><img class="subscription-icon" src="{{ '/images/spotify-podcast-logo.png' | url }}" alt="Spotify Podcast Logo" ></a>
    </div>
    <div class="subscription-service">
        <a target="_blank" href="https://podcasts.google.com"><img class="subscription-icon" src="{{ '/images/google-podcast-logo.png' | url }}" alt="Google Podcast Logo" ></a>
    </div>
</div>